@import url('https://fonts.googleapis.com/css?family=Open Sans:400,700|Montserrat');

#core-section
{
    padding: 40px 0 80px;    
}
#core-section .heading h2
{
    font-size: 2.2vw;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
#tabs 
{
    position: relative;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    color:#fff;
}
#tabs ul 
{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    vertical-align: top;
    width: 50%;
    float: left;
}

#tabs ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    border-top: solid 2px #e9e9e9;
    padding: 20px 5px;
    z-index: 1;
    opacity: .5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

#tabs ul li:focus, a:focus {
    outline: none;
}

#tabs ul li:nth-child(1) a {
    border-top: none;
}

#tabs ul li a.active {
    opacity: 1;
}

#tabs .para-a {
    font-weight: bold;
    margin-top: 10px;
    padding: 0;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    border: none;
    color: #fff;
}

#tabs .tag {
    position: relative;
    width: 100%;
    font-size: 20px;
}

#tabs .icon {
    position: relative;
    display: inline-block;
    padding:20px 10px;
    border-radius: 100%;
    vertical-align: middle;
    color: #fff;
}

#tabs .icon i
{
    color: #fff;
    padding-top: 1.46vw;
    font-size: 2.34vw;
}

#tabs .block {
    position: absolute;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: solid 2px #fff;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tabs .circle {
    position: absolute;
    padding: 2px;
    border: solid 2px #7b7b7b;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tabs .title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    vertical-align: middle;
    color: #fff;
}

#tabs .addon {
    position: relative;
    width: 80%;
    top: -25px;
    margin-left: 70px;
    letter-spacing: 0;
    font-size: 13px;
    color: #fff;
    opacity: 0;
}

#tabs .addon.fadein {
    opacity: 1;
}

#tabs .browser {
    width: 40%;
    height: 95%;
    position: absolute;
    top:0;
    right: 0;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-color: #eee transparent #eee #eee;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

#tabs .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border-bottom: solid 2px #eee;
    z-index: 2;
}

#tabs .dot {
    position: relative;
    display: inline-block;
    padding: 4px;
    background: #c7c7c7;
    border-radius: 100%;
}

#tabs .dot:nth-child(1) {
    margin-left: 7px;
}

#tabs .tab{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#tabs #tabs-1 {
    background-image: url(../images/clients/customer-1.jpg);
    background-size: 100% 100%;
}

#tabs #tabs-2 {
    background-image: url(../images/clients/customer-2.jpg);
    background-size: 100% 100%;
}

#tabs #tabs-3 {
    background-image: url(../images/clients/customer-3.jpg);
    background-size: 100% 100%;
}

@media(max-width:1000px)
{
    #tabs .browser
    {
        display: none;
    }
    #tabs ul 
    {
        width: 100%;
    }
    #core-section .heading h2
    {
        padding-bottom: 3vw;
        font-size: 10vw;
    }
    #tabs ul li
    {
        margin:7.5vw 0;
    }
    #tabs .title
    {
        font-size: 6vw;
        margin-top: 1vw;
        margin-bottom: 3vw
    }
    #tabs .icon, 
    {
        padding-top: 1.1vw;
    }
    #tabs .icon i
    {
        font-size: 6vw;
        padding-top: 0;
    }
    #tabs .addon
    {
        font-size: 3.5vw;
        line-height: 1.33;
    }
    #tabs .addon
    {
        padding-left: 2.5vw;
    }
    
}