/* Start Header Section */
.header
{
    background-image: url(../images/ar/home-back.jpg);
}

.header .content .not-image a
{
    margin:0.73vw 0 0.73vw 1.5vw;
}

/* Start Responsive for header */
@media(max-width:992px)
{
    .header .content .not-image ul
    {
        padding-right: 10vw;
    }
    .header .content .not-image a
    {
        margin: 3.73vw 4.5vw 3.73vw 0;
    }
    .header .content .not-image a.get-app
    {
        margin: 0;
        margin-right:10vw;
    }
}
/* End header Responsive */
/* End Header Section */



/* Start Why */
/* End Why */



/* Start Cross Section */



/** Start responsive **/
@media(max-width:992px)
{
    .cross-section .container .not-image
    {
        padding-right: 5vw;
    }
    .cross-section .container .not-image .text 
    {
        padding-right: 5vw;
    }
    
}
/** End tesponsive **/




/*---   -- Start Cross style   ----*/
.cross-section .container .not-image::after
{
    height:180px;
    top:110px;
    left: auto;
    right:298px;
    transform: rotate(-70deg); 
}
.cross-section .container .not-image::before
{
    width:220px;
/*    height:3000px;*/
    position: absolute;
    top:110px;
    left: auto;
    right:550px;
    border-top-right-radius: 0;
    border-top-left-radius:50%;
}
/*---   -- End Cross style   ----*/

.cross-section .image
{
/*    transform: rotateY(180deg); */
    position: absolute;
    top:0;
    right: auto;
    left:0;
    bottom:0;
    background-image: url(../images/ar/cross-back.jpg);
}


@media(max-width:1200px)
{
    .cross-section .not-image
    {
        border: none;
        border-right:10px solid rgba(0,0,0,0.3)
    }

}
@media(max-width:992px)
{
    .cross-section .not-image
    {
        border: none;
        border-right:1.7vw solid rgba(0,0,0,0.3)
    }
}

/* End Cross Section */



/* Start Clients Section Style */
.client ol
{
    padding: 0;
}
/* End Clients Section Style */


/* Start Team Style */



.team .content .parent i
{
    margin: 0;
    margin-left: 0.73vw;
}

@media(max-width:992px)
{
    .team .content .parent i
    {
        margin: 0;
        margin-left: 1vw;
    }
}

/* End Team Style */



/* Start Parteners Style */
/* End Parteners Style */




/* Start Footer Style */


.footer .container .head .line
{
	margin-right:1px;
	margin-left: 0;
}
.footer table span.what span
{
	padding:0 0 0 1.1vw;
}

.footer .container .ways li .gplus
{
    padding: 0;
	padding-right:0.37vw;
}
@media(max-width:380px)
{
	.footer .ways span>span
	{
		padding:0 0.73vw 0 0 ;
	}
}


@media(max-width:992px)
{
    .footer .ways ul
    {
        padding: 0;
        padding-top: 3vw;
        padding-right:1vw;
    }
}

/* End Footer Style */


/* Start New Contac-us Style */

.new-contact
{
    right: auto;
    left:0px;
    border-radius: 0;
    border-top-right-radius: 0.73vw;
    border-bottom-right-radius:0.73vw;
}

.new-contact a:last-child
{
    border-radius: 0;
    border-bottom-right-radius:10px;
}
.new-contact a:first-child
{
    border-radius: 0;
    border-top-right-radius:10px;
}
@media(max-width:992px)
{
    .new-contact a
    {
        border: 0;
        border-left:0.07vw solid #bbb;
        float: right;
    }
}

@media(max-width:818px)
{
    .new-contact a
    {
        width:23vw;
    }
}
/* End New Contact-us Style */

/* Start Language Style */
.lang
{
    left:0;
    right: auto;
}
.lang a
{
    padding:15px 15px 10px 10px;
    border-radius: 0;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 20%;
}

@media(max-width:992px)
{
    .lang a
    {
        padding:1vw 2.5vw 2vw  1.5vw;
        border-radius: 0;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 0;
    }
}
/* End Language Style */


#tabs ul 
{
    float: right;
}
#tabs .browser
{
    right: auto;
    left: 0;
    border-width: 2px 2px 2px 0;
    border-color: #eee #eee #eee transparent;
    border-radius: 0 10px 10px 0 ;
}
#tabs .dot:nth-child(1)
{
    margin-left: 0;
    margin-right: 7px;
}
#tabs .addon
{
    margin-right: 70px;
    margin-left: 0;
}
@media(max-width:1000px)
{
    #tabs .addon
    {
        padding-right: 2.5vw;
        padding-left:0;
    }   
}